@use '../abstracts/variables' as *;

.badge {
  // scss-docs-start badge-css-vars
  --badge-padding-x: #{$badge-padding-x};
  --badge-padding-y: #{$badge-padding-y};
  --badge-font-weight: #{$badge-font-weight};
  --badge-color: #{$badge-color};
  --badge-border-radius: #{$badge-border-radius};
  // scss-docs-end badge-css-vars

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--badge-padding-y) var(--badge-padding-x);
  font-weight: var(--badge-font-weight);
  line-height: 1;
  color: var(--badge-color);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: var(--badge-border-radius);

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}