@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;
.btn {
    --btn-padding-x: #{$btn-padding-x};
    --btn-padding-y: #{$btn-padding-y};
    --btn-font-size: #{$btn-font-size};
    --btn-line-height: #{$btn-line-height};
    --btn-font-weight: #{$btn-font-weight};
    --btn-color: #{$btn-color};
    --btn-bg: #{$btn-bg};
    --btn-border-width: #{$btn-border-width};
    --btn-border-color: #{$btn-border-color};
    --btn-border-radius: #{$btn-border-radius};
    --btn-hover-bg: #{shade-color($btn-bg, 10%)};
    padding: var(--btn-padding-y) var(--btn-padding-x);
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: var(--btn-line-height);
    font-weight: var(--btn-font-weight);
    font-size: var(--btn-font-size);
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    width: var(--btn-width);
    height: var(--btn-height);
    &:hover{
        cursor: pointer;
        background-color: var(--btn-hover-bg);
    }
    &.btn-primary{
        --btn-bg: var(--primary);
        --btn-hover-bg: #{shade-color(#E24C32,10%)};
        --btn-color: var(--white);
    }
    &.btn-outline-gradient{
        --btn-bg: transparent;
        background: 
        linear-gradient(to right, white, white), 
        var(--gradient); 
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
    }

    &.btn-dark{
        --btn-bg: var(--black);
        --btn-color: var(--white);
        --btn-hover-bg: #{tint-color($black, 10%)};
    }

    // variants
    &.active{
        --btn-bg: var(--primary);
        --btn-color: var(--white);
        --btn-hover-bg: #{shade-color(#E24C32,10%)};
    }

}