
@use '../abstracts/variables' as *;
.card {
    --card-spacer-y: #{$card-spacer-y};
    --card-spacer-x: #{$card-spacer-x};
    --card-title-spacer-y: #{$card-title-spacer-y};
    --card-title-color: #{$card-title-color};
    --card-subtitle-color: #{$card-subtitle-color};
    --card-cap-padding-y: #{$card-cap-padding-y};
    --card-cap-padding-x: #{$card-cap-padding-x};
    --card-cap-color: #{$card-cap-color};
    --card-cap-bg: #{$card-cap-bg};
    --card-border-width: #{$card-border-width};
    --card-border-color: #{$card-border-color};
    --card-box-shadow: #{$card-box-shadow};
    --card-img-overlay-padding: #{$card-img-overlay-padding};
    --card-bg: transparent;
    --card-border-radius: var(--border-radius);
  
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0; 
    overflow: hidden;
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
  .card-img-wrapper{
    position: relative;
    &:hover > .card-img-overlay{
      opacity: 0.1;
    }
  }
  .card-img-badge{
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .card-body {
    flex: 1 1 auto;
    padding: var(--card-spacer-y) var(--card-spacer-x);
  }
  
  .card-title {
    margin-bottom: var(--card-title-spacer-y);
    color: var(--card-title-color);
  }
  
  .card-subtitle {
    margin-top: calc(-.5 * var(--card-title-spacer-y)); // stylelint-disable-line function-disallowed-list
    margin-bottom: 0;
    color: var(--card-subtitle-color);
  }
  
  .card-text:last-child {
    margin-bottom: 0;
  }
  
  .card-link {
    + .card-link {
      margin-left: var(--card-spacer-x);
    }
  }
  
  
  .card-header {
    padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
    margin-bottom: 0; 
    color: var(--card-cap-color);
    background-color: var(--card-cap-bg);
    border-bottom: var(--card-border-width) solid var(--card-border-color);

  }
  
  .card-footer {
    padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
    color: var(--card-cap-color);
    background-color: var(--card-cap-bg);
    border-top: var(--card-border-width) solid var(--card-border-color);
  }

  // Card image
  .card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity ease 0.1s;
    opacity: 0;
    background-color: #000;
    padding: var(--card-img-overlay-padding);
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
    width: 100%; 
    object-fit: cover;
  }
  
  .card-img,
  .card-img-top {
    border-top-left-radius: var(--card-border-radius);
    border-top-right-radius: var(--card-border-radius);
  }


//   variant
  &.card-job{
    --card-spacer-y: 0;
    --card-spacer-x: 0;
    border: none;
    --card-cap-padding-y: 0;
    --card-cap-padding-x: 0;
    --card-box-shadow: 0px 12px 60px 0px rgba(156, 161, 186, 16%);
    .card-header{
        border-bottom-width: 1px;
        border-bottom-color: var(--neutral-gray-6);
        border-bottom-style: dashed;
        padding-bottom: 20px;
    }
    .card-body{
        padding-top: 20px;
    }
    .card-logo{
        width: 48px;
        height: 48px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .card-archive-tick{
        width: 24px;
        height: 24px;
        margin-left: auto;
    }
    .card-icon img{
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }
  }
  &.card-blog{
    border: none;
    --card-spacer-y: 16px;
    --card-spacer-x: 16px;
    --card-border-radius: 16px;
    --card-box-shadow: 0px 12px 60px 0px rgba(156, 161, 186, 16%);
    .card-img-badge{
      background-color: rgba(255, 255, 255, 0.24);
      color: #fff;
      border-radius: 20px;
    }
  }
}
