@use "../abstracts/variables" as *;
.dropdown {
  position: relative;
  .dropdown-toggle {
    white-space: nowrap;
    cursor: pointer;
  }
  .dropdown-arrow-down {
    width: 12px;
    height: 6px;
    stroke: #383E46;
    margin-left: auto;
  }
  // The dropdown menu
  .dropdown-menu {
    --dropdown-zindex: #{$zindex-dropdown};
    --dropdown-min-width: #{$dropdown-min-width};
    --dropdown-padding-x: #{$dropdown-padding-x};
    --dropdown-padding-y: #{$dropdown-padding-y};
    --dropdown-spacer: #{$dropdown-spacer};
    --dropdown-color: #{$dropdown-color};
    --dropdown-bg: #{$dropdown-bg};
    --dropdown-border-color: #{$dropdown-border-color};
    --dropdown-border-radius: #{$dropdown-border-radius};
    --dropdown-border-width: #{$dropdown-border-width};
    --dropdown-divider-bg: #{$dropdown-divider-bg};
    --dropdown-divider-margin-y: #{$dropdown-divider-margin-y};
    --dropdown-box-shadow: #{$dropdown-box-shadow};
    --dropdown-link-color: #{$dropdown-link-color};
    --dropdown-link-hover-color: #{$dropdown-link-hover-color};
    --dropdown-link-hover-bg: #{$dropdown-link-hover-bg};
    --dropdown-link-disabled-color: #{$dropdown-link-disabled-color};
    --dropdown-item-padding-x: #{$dropdown-item-padding-x};
    --dropdown-item-padding-y: #{$dropdown-item-padding-y};

    position: absolute;
    z-index: var(--dropdown-zindex);
    display: none; // none by default, but block on "open" of the menu
    min-width: var(--dropdown-min-width);
    padding: var(--dropdown-padding-y) var(--dropdown-padding-x);
    margin: 0; // Override default margin of ul
    color: var(--dropdown-color);
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    top: 100%;
    left: 0;
    background-color: var(--dropdown-bg);
    background-clip: padding-box;
    border: var(--dropdown-border-width) solid var(--dropdown-border-color);
    border-radius: var(--dropdown-border-radius);
    box-shadow: var(--dropdown-box-shadow);

    .dropdown-divider {
      height: 0;
      margin: var(--dropdown-divider-margin-y) 0;
      overflow: hidden;
      border-top: 1px solid var(--dropdown-divider-bg);
      opacity: 1; // Revisit in v6 to de-dupe styles that conflict with <hr> element
    }

    .dropdown-item {
      display: block;
      width: 100%;
      padding: var(--dropdown-item-padding-y) var(--dropdown-item-padding-x);
      clear: both;
      font-weight: $font-weight-normal;
      color: var(--dropdown-link-color);
      text-align: inherit;
      white-space: nowrap;
      background-color: transparent;
      text-decoration: none;
      border: 0;
      &:hover {
        color: var(--dropdown-link-hover-color);
        background-color: var(--dropdown-link-hover-bg);
      }

      &.disabled,
      &:disabled {
        color: var(--dropdown-link-disabled-color);
        pointer-events: none;
        background-color: transparent;
      }
    }

    &.show {
      display: block;
    }
  }


  // variants
  &.dropdown-with-icon{
    .dropdown-toggle{
      padding: 12px 16px 12px 32px;
      border-radius: 12px;
    }
    .dropdown-icon{
      width: 24px;
      height: 24px;
      img{
        width: 100%;
      }
    }
  }
  &.dropdown-profile{
    .dropdown-toggle{
      background-color: transparent;
    }
    .profile-name{
      font-weight: 700;
      font-size: 12px;
      line-height: 20px;
      color: var(--primary);
    }
    .profile-role{
      color: var(--black);
    }
    .dropdown-menu{
      --dropdown-bg: transparent;
      --dropdown-link-color: var(--black);
      --dropdown-link-hover-bg: var(--neutral-gray-3);
    }
    @media (min-width: 768px){
      .dropdown-toggle{
        background-color: var(--black);
      }
      .profile-name{
        color: var(--neutral-gray-3);
      }
      .profile-role{
        color: var(--white);
      }
      .dropdown-menu{
        --dropdown-bg: #{$black};
        --dropdown-link-color: #{$white};
        --dropdown-link-hover-bg: #{$white};
        --dropdown-link-hover-color: #{$black};
      }
      .dropdown-arrow-down {
        stroke: white;
      }
    }
  }
}
