@use '../abstracts/variables' as *;
@use '../mixins/breakpoints' as *;

.navbar {
    --navbar-padding-x: #{if($navbar-padding-x == null, 0, $navbar-padding-x)};
    --navbar-padding-y: #{$navbar-padding-y};
    --navbar-brand-padding-y: #{$navbar-brand-padding-y};
    --navbar-brand-margin-end: #{$navbar-brand-margin-end};
    --navbar-nav-link-padding-x: #{$navbar-nav-link-padding-x};
    // scss-docs-end navbar-css-vars

    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between; // space out brand from logo
    padding: var(--navbar-padding-y) var(--navbar-padding-x);

    %container-flex-properties {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    >.container,
    >.container-fluid {
        @extend %container-flex-properties;
    }

    @each $breakpoint, $container-max-width in $container-max-widths {
        >.container#{breakpoint-infix($breakpoint, $container-max-widths)} {
            @extend %container-flex-properties;
        }
    }
}

.navbar-brand {
    padding-top: var(--navbar-brand-padding-y);
    padding-bottom: var(--navbar-brand-padding-y);
    margin-right: var(--navbar-brand-margin-end);
    white-space: nowrap;
}


.navbar-nav {
    --nav-link-padding-x: 0;
    --nav-link-padding-y: #{$nav-link-padding-y};
    display: flex;
    flex-direction: column; 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    .dropdown-menu {
        position: static;
    }
}


.navbar-text {
    padding-top: $nav-link-padding-y;
    padding-bottom: $nav-link-padding-y;
}
