.tab{
    .tab-header{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .tab-content{
        display: none;
        &.active{
            display: flex;
        }
    }
}