$enable-important-utilities: true;

// colors
$black: #222631;
$white: #fff;

$success-1: #209B25;
$success-2: #95E999;
$success-3: #EAFBEB;
$successes: (
    1: $success-1,
    2: $success-2,
    3: $success-3
);
$warning-1: #FDC500;
$warning-2: #FED02C;
$warning-3: #FFFBEB;
$warnings: (
    1: $warning-1,
    2: $warning-2,
    3: $warning-3
);

$infor-1: #3366FF;
$infor-2: #2E9DFF;
$infor-3: #E9F6FE;
$infors: (
    1: $infor-1,
    2: $infor-2,
    3: $infor-3
);

$error-1: #D70801;
$error-2: #FE564B;
$error-3: #FFEEEA;
$errors: (
    1: $error-1,
    2: $error-2,
    3: $error-3
);

$color-themes: (
    'error': $errors,
    'infor': $infors,
    'success': $successes
);

$bg-secondary: #606164;
$bg-dark: #222831;
$bg-medium: #393E46;
$bg-bright: #D2D2D2;
$bg-light: #EFEFEF;
$bg-white: #fff;
$bg: (
    "dark": $bg-dark,
    "secondary": $bg-secondary,
    "medium": $bg-medium,
    "bright": $bg-bright,
    "light": $bg-light,
    "white": $bg-white,
    "success": $success-1,
    "warning": $warning-1,
    "infor": $infor-1,
    "error": $error-1,
    "primary": $infor-1,
);


$text: $bg;
// body
$body-color:                #383E46 !default;
$body-bg:                   $white !default;
$body-tertiary-color:       rgba($body-color, .5) !default;
$body-tertiary-bg:          #A3A3A3 !default;

$body-emphasis-color:       $black !default;

// start spacers
$spacer: 4px !default;
$spacers: (
  0: 0,
  1: $spacer,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8,
  9: $spacer * 10,
  10: $spacer * 12,
  11: $spacer * 14,
  12: $spacer * 16,
  13: $spacer * 18,
  14: $spacer * 20
  
) !default;
// end spacers
// start container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1376px
) !default;
// end container
// start grid-breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1320px
) !default;
// end grid-breakpoints
// start grid
$grid-columns: 12 !default;
$grid-row-columns: 6 !default;
$grid-gutter-width: 4px !default;
$gutters: $spacers;
//end grid
$container-padding-x: $grid-gutter-width !default;
// start border
$border-width: 1px !default;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
) !default;
$border-style:                solid !default;
$border-color:                #dee2e6 !default;
$border-color-translucent:    rgba($black, .175) !default;
// scss-docs-start border-radius-variables
$border-radius:               .375rem !default;
$border-radius-sm:            .25rem !default;
$border-radius-lg:            .5rem !default;
$border-radius-xl:            1rem !default;
$border-radius-xxl:           2rem !default;
$border-radius-pill:          50rem !default;
//end border
// start zindex
$zindex-levels: (
  n1: -1,
  0: 0,
  1: 1,
  2: 2,
  3: 3
) !default;
// end zindex
// start font-weight
$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-medium:          500 !default;
$font-weight-semibold:        600 !default;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;
// end font-weight
// start display
$font-size-base: 14px;
$line-height-base: 1.45;
// end display
// start shadow
$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;
// end shadow
