@use './base';
@use './layouts';

.nav {
    .nav-item{
        transition: background-color 0.3s ease;
        &:hover {
            background-color: #343a40;
            border-radius: 5px;
        }
    }
    .nav-menu.collasped{
        display: none;
    }
}