@use './base';
@use './layouts';

.icon-div {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.btn{
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    &:hover{
        opacity: 0.9;
    }
}
.nav {
    .nav-item{
        transition: background-color 0.3s ease;
        height: 100%;
        &:hover {
            background-color: #343a40;
            border-radius: 5px;
        }
    }
    .nav-menu.collasped{
        display: none;
    }
}
// form
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
    >.form-control{
        line-height: 20px;
        height: calc(3rem + 2px);
        width: 100%;
        border-radius: 0.375rem;
        padding: 1rem 0.75rem;
        border: 0.05rem solid #ccc;
        font-size: 1rem;
        vertical-align: middle;
    }
}
